/* fullscreen map */
#map {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

/* control bar styles */
.leaflet-control-bar{
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2100;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
}

/** TOP **/
.leaflet-control-bar-top.leaflet-control-bar {
    height: 150px;
    width: 100%;
    top: -150px;
    transition: top 0.5s;
}
.leaflet-control-bar-top.leaflet-control-bar.visible {
    top: 0;
}
.leaflet-control-bar-top.leaflet-control-bar.visible ~ .leaflet-top {
    top: 150px;
    transition: top 0.5s;
}
.leaflet-control-bar-top.leaflet-control-bar ~ .leaflet-top {
    transition: top 0.5s;
}

/** BOTTOM **/
.leaflet-control-bar-bottom.leaflet-control-bar {
    height: 25%;
    width: 100%;
    bottom: -25%;
    transition: bottom 0.5s;
}
.leaflet-control-bar-bottom.leaflet-control-bar.visible {
    bottom: 0;
}
.leaflet-control-bar-bottom.leaflet-control-bar.visible ~ .leaflet-bottom {
    bottom: 25%;
    transition: bottom 0.5s;
}
.leaflet-control-bar-bottom.leaflet-control-bar ~ .leaflet-bottom {
    transition: bottom 0.5s;
}

/** LEFT **/
.leaflet-control-bar-left.leaflet-control-bar {
    height:100%;
    width: 50px;
    left: -50px;
    transition: left 0.5s;
}
.leaflet-control-bar-left.leaflet-control-bar.visible {
    left: 0  ;
}
.leaflet-control-bar-left.leaflet-control-bar.visible ~ .leaflet-left {
    left: 50px;
    transition: left 0.5s;
}
.leaflet-control-bar-left.leaflet-control-bar ~ .leaflet-left {
    left: 0;
    transition: left 0.5s;
}

/** RIGHT **/
.leaflet-control-bar-right.leaflet-control-bar {
    height:90%;
    width: 20%;
    right: -20%;
    transition: right 0.5s;
    top: 5%;
    bottom: 10%;
}
.leaflet-control-bar-right.leaflet-control-bar.visible {
    right: 2%;
    transition: right 0.5s;
}
.leaflet-control-bar-right.leaflet-control-bar.visible ~ .leaflet-right {
    transition: right 0.5s;
}

/** SHARED **/
.leaflet-control-bar > .leaflet-control {
    height: 100%;
    width: 100%;
    overflow: none;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255,255,255,1);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    margin: 0px;
    padding: 4px;
}
.leaflet-touch .leaflet-control-bar > .leaflet-control {
    box-shadow: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}



.panel-control-icon {
    height: 90%;
    width: auto;
}


.controlbar-button {
    height: 40px;
    width: 70px;
    padding: 0px;
    margin: 5px;
    background-color: white;
}
.controlbar-button:hover {
    cursor: pointer;
}


.text-comment-input {
    border: 0 none white;
    padding: 0 !important;
    outline: none !important;
    background: transparent !important;
    resize: none !important;
    color: black !important;
    font-size: 30px;
    font-family: monospace !important;
    overflow-y: hidden;
    box-sizing: border-box;
}

.text-comment-div {
    resize: both;
}

.controlbar-tool {
    height: 70px;

}

.text-hover-erase {
    border: dashed 3px red;
}
.text-hover-edit {
    border: dashed 3px blue;
}

.user-editing-disabled {
    background-color: #f65555;
}

.comments-div {
    margin-top: 10px;
    height: 650px;
    overflow-y: scroll;
}

.close {
    color: black !important;
    font-size: 3em;
}

.edit-button {
    margin-left: 5px;
    margin-right: 5px;

}

.new-comment {
   color: black !important;
   text-decoration: underline;
   font-size: 2em;
}

.toolbox {

    background-color: lightgrey;
    padding: 13px;
    text-align: center;
    border-radius: 4px;

}

.tool {
    cursor: pointer;
    margin: 3px;
}

.red-pen {
    background: url(../assets/red-circle.png) no-repeat;
}
.yellow-pen {
    background: url(../assets/yellow-circle.png) no-repeat;
}
.black-pen {
    background: url(../assets/black-circle.png) no-repeat;
}
.eraser {
    background: url(../assets/eraser.png) no-repeat;
}
.text {
    background: url(../assets/text.png) no-repeat;
}

.view {
    color: white;
    background-color: #61966b;
}

.edit {
    color: white;
    background-color: #658bce;
}

.delete {
    color: white;
    background-color: #c6423d;
}
