.panelmanager-panel{
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2100;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
}

.panelmanager-max-right {
    height:90%;
    width: 20%;
    right: 0%;
    top: 5%;
    bottom: 10%;
    transition: right 0.5s;
}
.panelmanager-min-right {
    height:90%;
    width: 20%;
    right: -15%;
    top: 5%;
    bottom: 10%;
    transition: right 0.5s;
}
.panelmanager-invisible-right {
    height:90%;
    width: 20%;
    right: -20%;
    top: 5%;
    bottom: 10%;
    transition: right 0.5s;
}

.panelmanager-max-left {
    height:90%;
    width: 20%;
    left: 0%;
    top: 5%;
    bottom: 10%;
    transition: left 0.5s;
}
.panelmanager-min-left {
    height:90%;
    width: 20%;
    left: -15%;
    top: 5%;
    bottom: 10%;
    transition: left 0.5s;
}
.panelmanager-invisible-left {
    height:90%;
    width: 20%;
    left: -20%;
    top: 5%;
    bottom: 10%;
    transition: right 0.5s;
}

.panelmanager-max-top {
    height:35%;
    width: 60%;
	right: 20%;
	left: 20%;
    top: 0%;
    transition: top 0.5s;
}
.panelmanager-min-top {
    height:35%;
    width: 60%;
	right: 20%;
	left: 20%;
    top: -30%;
    transition: top 0.5s;
}
.panelmanager-invisible-top {
    height:35%;
    width: 60%;
	right: 20%;
	left: 20%;
    top: -35%;
    transition: top 0.5s;
}

.panelmanager-max-bottom {
    height:35%;
    width: 60%;
	right: 20%;
	left: 20%;
    bottom: 0%;
    transition: bottom 0.5s;
}
.panelmanager-min-bottom {
    height:35%;
    width: 60%;
	right: 20%;
	left: 20%;
    bottom: -30%;
    transition: bottom 0.5s;
}
.panelmanager-invisible-bottom {
    height:35%;
    width: 60%;
	right: 20%;
	left: 20%;
    bottom: -35%;
    transition: bottom 0.5s;
}

.panelmanager-panel .close {
    color: black;
    font-size: 3em;
}
.panelmanager-close-right {
	float: left;
}
.panelmanager-close-left {
	float: right;
}
.panelmanager-close-top {
	position: absolute;
	bottom: 0;
}
.panelmanager-close-bottom {
	position: absolute;
	top: 0;
}

.panelmanager-panel-button {
    border: none;
    margin: 5px;
}

.panelmanager-panel-button:hover {
    cursor: pointer;
}

.panelmanager-button:hover {
	cursor: pointer;
}
.panelmanager-button-invisible {
	display: none;
}
 .panelmanager-panel-titlediv {
 	text-align: center;
 }

/* general invisibility */
 .invisible {
 	display: none! important;
 }

.panelmanager-panel-content {
	display: inline-block;
}

/* buttons inside of a panel */
.panelmanager-panel-button {
	height: 4em;
	width: 4em;
}

.panelmanager-panel-document-list {
    padding-left: 0px;
    list-style-type: none;
}

.panelmanager-document-property-ul {
    list-style-type: none;
}

.panelmanager-document-property-li {
    display: inline;
    padding-left: 4px;
    padding-right: 4px;
}

.panelmanager-document-name {
    font-weight: bold;
}

.panelmanager-document-property-button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.panelmanager-document-property-button-disabled {
    background-color: #c2c4c6;
}
